<html>
  <head>
    <link rel="stylesheet" href="user_edit.css">
   </head>

<body>
  <div id="user-form" >
  <%= form_for @user, :url => profile_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: false %>
    <%= f.label :password %>
    <%= f.password_field :password, required: false %>
    <%= f.label :confirm_password %>
    <%= f.password_field :confirm_password, required: false %>
    <%= f.label :address %>
    <%= f.text_field :address, required: false %>
    <%= f.label :city %>
    <%= f.text_field :city, required: false %>
    <%= f.label :state %>
    <%= f.text_field :state, required: false %>
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, required: false %>
    <%= f.label :email%>
    <%= f.text_field :email, required: false %>
    <%= f.submit %>
    #this needs to be redirected to the profile path!!!!!!!!!!
  <% end %>
  </div>
</body>
</html>
