<div id="user-show-content">
  <div id="user-info">
    <div class="card" style="width: 40rem;">
      <div class="card-body">
        <h1 class="card-title"><%= @user.name %></h1>
        <p><%= @user.address %></p>
        <p><%= @user.city %> <%= @user.state%></p>
        <p><%= @user.zipcode %></p>
        <p><%= @user.email %></p>
        <h5>Member since: <%= @user.created_at.strftime("%A %B %d, %Y") %></h5>
        <p>Authorization level: <%= @user.role %></p>


        <% if @user.merchant? %>
        <div class="view_merchant_items">
          <%= link_to "View My Items", dashboard_items_path, id: "view-merchant-items" %>
        </div><br>
        <% end %>

        <% unless @user.orders.empty? %>
          <div id="profile-orders">
            <%= render "orders/orders_table" %>
          </div>
        <% end %>
        <br />

        <% if current_user && current_user.id == @user.id %>
          <% unless @user.merchant?  %>
            <div id="edit_link">
              <%= link_to "Edit Information", profile_edit_path, method: :GET %>
            </div><br>
          <% end %>
        <% elsif current_user && current_user.admin? %>
          <div id="edit_link">
            <%= link_to "Edit Information", edit_admin_user_path, method: :GET %>
          </div><br>
        <% end %>
      </div>
    </div>
  </div>
</div>
