<%= render 'merchants/dashboard_stats' if current_user && current_user.merchant? %>
<%= render 'users/show_content' %>

<% if current_user.admin? && @user.merchant? %>
<p><%= link_to 'Downgrade', admin_merchant_path(@user, role: :user), method: :patch %></p>
<% end %>
<br>
<br>
<br>

<div id="dashboard">
  <h3>Pending Orders</h3>
  <table id="my-orders" class="table">
    <thead>
      <th>ID</th>
      <th>Order Date</th>
      <th>Total Quantity of My Items</th>
      <th>Total Value of My Items</th>
    </thead>
    <tbody>
      <% if @orders %>
      <% @orders.each_with_index do |order, index| %>
      <tr id="order-<%= index %>">
        <td><%= link_to order.id, dashboard_order_path(order) %></td>
        <td><%= order.created_at %></td>
        <td><%= order.total_quantity_by_merchant(@user) %></td>
        <td><%= number_to_currency(order.total_price_by_merchant(@user)) %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
