<html>
<head>
  <link rel="stylesheet" href="merchant_item_index.css">
</head>


<body>
  <%= link_to "Add a new item", new_item_path, method: :get %>
  <div class="container">
    <div class="row", id="cart-items">

      <% @merchant.items.each do |item| %>
      <div class="merchant_items">
        <div id="merchant-items-card" class="card border-light mb-3" style="width: 18rem;">
          <img class="card-img-top" id="show-image" src="<%= @item.image_url %>" alt="<%= @item.name %>"/>
          <div class="card-body", id="item-<%= item.name %>">
            <h5> Item: <%= item.name %></h5>
            <p> ID Number: <%= item.id %></p><br>
            <p> Price <%= item.price %></p><br>
            <p> Quantity: <%= item.inventory_qty %></p><br>
            <%= link_to "Edit Item", edit_item_path(item.id), method: :get %><br><br>
            <% unless !item.order_items.empty? %>
            <%= link_to "Delete Item", item_path(item.id), method: :delete %><br><br>
            <% end %>
            <% if item.status == true %>
            <%= link_to "Disable", edit_item_path(item.id), method: :patch, class: "disable" %> <br><br>
            <% elsif item.status == false %>
            <%= link_to "Enable", edit_item_path(item.id), method: :patch, class: "enable" %> <br><br>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</body>
</html>
