<div class="one-merchant-items">


<%= link_to "Add a new item", new_item_path, method: :get %>

<div class="container">
  <div class="row", id="merchant-items">
    <% @my_items.each do |item| %>
      <div id="my-items-card" class="card border-light mb-3" style="width: 20rem;">
        <img class="card-img-top" id="show-image" src="<%= item.image_url %>" alt="<%= item.name %>"/>
        <div class="card-body", id="merchant_item-<%= item.name %>" >
          <h5 class="card-title"> Item: <%= item.name %></h5>
          <p class="card-text"> ID Number: <%= item.id %></p><br>
          <p class="card-text"> Price <%= item.price %></p><br>
          <p class="card-text"> Quantity in stock: <%= item.inventory_qty %></p><br>
          <%= link_to "Edit Item", edit_item_path(item.id), method: :get %><br><br>
          <% unless !item.order_items.empty? %>
          <%= link_to "Delete Item", item_path(item.id), method: :delete %><br><br>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</div>
