<%= "You currently have #{@cart_contents} items in your cart." %>
<div id="cart-items">
<% @cart_items.each do |item| %>
    Item: <%= item.name %>
    Price: <%= item.price %>
    Quantity Ordered: <%= @cart.amount(item) %>
    Item Subtotal: <%= @cart.item_subtotal(item) %>
    Sold By: <%= item.merchant_name %>
    <%= button_to "Empty Cart Contents" %>
<% end %>
Total: <%= @cart.grand_total %>
</div>
