<h1><%= "You currently have #{@cart_contents} items in your cart." %></h1>
<div class="container">
  <div class="row", id="cart-items">
    <% @cart_items.each do |item| %>
    <div id="cart-items-<%= item.name %>" class="card border-light mb-3" style="width: 18rem;">
      <img class="card-img-top" id="tiny-drink-pic-<%= item.id %>" src="<%= item.image_url %>" alt="<%= item.name %>"/>
      <div class="card-body", id="item-<%= item.name %>">
        <h5>Item: <%= item.name %></h5>
        <p>Price: $<%= item.price %></p>
        <p>Quantity Ordered: <%= @cart.item_amount(item) %></p>
        <p>Item Subtotal: $<%= @cart.item_subtotal(item) %></p>
        <p>Sold By: <%= item.merchant_name %></p>
        <p><%= link_to "Add Another", cart_path(item_change: "add", item_id: item.id), method: :patch %></p>
        <p><%= link_to "Decrease Quantity", cart_path(item_change: "decrease", item_id: item.id), method: :patch %></p>
        <p><%= link_to "Delete Item", cart_path(item_change: "remove", item_id: item.id), method: :patch %></p>
        <h6>Total: $<%= @cart.grand_total %></h6>
      </div>
    </div>
    <% end %>
    <% if @cart_contents != 0 %>
      <div class="empty-cart-contents">
        <%= button_to "Empty Cart Contents.", cart_path, method: :delete, class: 'empty-cart' %>
      </div>
    <% end %>
    <% if current_user %>
      <%# <%= link_to '', checkout_path %> %>
      <p>You may check out.</p>
    <% else %>
      <p>You must <%= link_to 'register', register_path %> or <%= link_to 'login', login_path %> to finish the checkout process.</p>
    <% end %>
  </div>
</div>
</div>
