<% @merchants.each do |merchant| %>
  <% merchant.active_items.each do |item| %>
    <div id="item-<%= item.id %>">
      <%= item.name %>
      <img class="item-image" src="<%= item.image_url %>" alt="<%= item.name %>"/>
      Quantity: <%= item.inventory_qty %>
      Price: $<%= item.price %>
  <%= merchant.name %>
    </div>
  <% end %>
<% end %>
