<div class="item-block">
  <%= @item.name %>
  Description: <%= @item.description %>
  Price: $<%= @item.price %>
  Merchant: <%= @item.user.name %>
  Quantity Remaining: <%= @item.inventory_qty %>
  Average Time to Fulfill: <%= @item.average_fulfillment_time %> days.
</div>
