<div class="item-block">
  <%= @item.name %>
  <img class="drink-show-image" src="<%= @item.image_url %>" alt="<%= @item.name %>"/>
  Description: <%= @item.description %>
  Price: $<%= @item.price %>
  Merchant: <%= @item.user.name %>
  Quantity Remaining: <%= @item.inventory_qty %>
  Average Time to Fulfill: <%= @item.average_fulfillment_time %> days.
</div>
<%= button_to 'Add To Cart', carts_path(item_id: @item.id) %>
