<!DOCTYPE html>
<html>
<head>
  <title>LittleShop</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'cart_show', media: 'all' %>
  <%= stylesheet_link_tag    'user_index', media: 'all' %>
  <%= stylesheet_link_tag    'item_index', media: 'all' %>
  <%= stylesheet_link_tag    'merchant_item_index', media: 'all' %>
  <%= stylesheet_link_tag    'user_edit', media: 'all' %>
  <%= stylesheet_link_tag    'user_show', media: 'all' %>
  <%= stylesheet_link_tag    'order_show', media: 'all' %>
  <%= stylesheet_link_tag    'merchant_item_index', media: 'all' %>
  <%= stylesheet_link_tag    'welcome', media: 'all' %>
  <%= stylesheet_link_tag    'login', media: 'all' %>
  <%= stylesheet_link_tag    'admin_user_index', media: 'all' %>
  <%= stylesheet_link_tag    'dashboard', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type='text/css'>
</head>
<body>
  <% if current_user.nil? %>
    <%= render 'layouts/guest-nav' %>
  <% elsif current_user.merchant? %>
    <%= render 'layouts/merchant-nav' %>
  <% elsif current_user.admin? %>
    <%= render 'layouts/admin-nav' %>
  <% else %>
    <%= render 'layouts/nav' %>
  <% end %>

  <div id="flashes">
    <% flash.each do |type, message| %>
    <%= content_tag :div, message, class: type %>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
