<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'cart_show', media: 'all' %>
    <%= stylesheet_link_tag    'item_index', media: 'all' %>
    <%= stylesheet_link_tag    'merchant_item_index', media: 'all' %>
    <%= stylesheet_link_tag    'user_edit', media: 'all' %>
    <%= stylesheet_link_tag    'user_show', media: 'all' %>
    <%= stylesheet_link_tag    'order_show', media: 'all' %>
    <%= stylesheet_link_tag    'merchant_item_index', media: 'all' %>
    <%= stylesheet_link_tag    'welcome', media: 'all' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="//fonts.googleapis.com/css?family=Cinzel" rel="stylesheet" type='text/css'>
  </head>

  <body>
    <% if current_user.nil? %>
      <nav id="nav-bar" class="navbar">
        <ul class="nav-left">
          <li><a title="home-link" id="home-link" href="/">Home</a></li>
          <li><a title="items-link" id="items-link" href="/items">Browse Items</a></li>
          <li><a title="merchants-link" id="merchants-link" href="/merchants">Browse Merchants</a></li>
        </ul>
        <ul class="nav-right">
          <li><a title="register-link" id="register-link" href="/register">Register</a></li>
          <li><a title="login-link" id="login-link" href="/login">Login</a></li>
          <!-- Need to figure out how to display number of items in cart -->
          <li><a title="cart-link" id="cart-link" href="/cart">Cart: <%= @cart.total_count %></a></li>
        </ul>
      </nav>

      <% elsif current_user.merchant? %>
      <nav id="merchant-user-nav-bar" class="navbar">
        <ul class="nav-left">
          <li><a title="home-link" id="home-link" href="/">Home</a></li>
          <li><a title="items-link" id="items-link" href="/items">Browse Items</a></li>
          <li><a title="merchants-link" id="merchants-link" href="/merchants">Browse Merchants</a></li>
        </ul>
        <ul class="nav-right">
            <li><a title="dashboard-link" id="dashboard-link" href="/dashboard">Dashboard</a></li>
            <li><a title="user-orders-link" id="user-orders-link" href="/orders"><%=current_user.name%>'s Orders'</a></li>
            <li><a title="profile-link" id="profile-link" href="/profile">Profile</a></li>
            <li><a title="logout-link" id="logout-link" href="/logout">Logout</a></li>
          <!-- Need to figure out how to display number of items in cart -->
            <li> Logged in as <%="#{current_user.name}"%> </li>
        </ul>
      </nav>


      <% elsif current_user.admin? %>
            <nav id="admin-nav-bar" class="navbar">
              <ul class="nav-left">
                <li><a title="home-link" id="home-link" href="/">Home</a></li>
                <li><a title="items-link" id="items-link" href="/items">Browse Items</a></li>
                <li><a title="merchants-link" id="merchants-link" href="/merchants">Browse Merchants</a></li>
              </ul>
              <ul class="nav-right">
                  <li><a title="user-orders-link" id="user-orders-link" href="/orders"><%=current_user.name%>'s Orders'</a></li>
                  <li><a title="admin-users-link" id="admin-users-link" href="/admin/users">Browse All Users</a></li>

                  <li><a title="profile-link" id="profile-link" href="/profile">Profile</a></li>
                  <li><a title="logout-link" id="logout-link" href="/logout">Logout</a></li>
                  <li> Logged in as <%="#{current_user.name}"%> </li>
              </ul>
            </nav>

    <% else %>
      <nav id="user-nav-bar" class="navbar">
        <ul class="nav-left">
          <li><a title="home-link" id="home-link" href="/">Home</a></li>
          <li><a title="items-link" id="items-link" href="/items">Browse Items</a></li>
          <li><a title="merchants-link" id="merchants-link" href="/merchants">Browse Merchants</a></li>
        </ul>
        <ul class="nav-right">
            <li><a title="profile-link" id="profile-link" href="/profile">Profile</a></li>
            <li><a title="user-orders-link" id="user-orders-link" href="/orders"><%=current_user.name%>'s Orders'</a></li>
          <li><a title="logout-link" id="logout-link" href="/logout">Logout</a></li>
          <!-- Need to figure out how to display number of items in cart -->
          <li><a title="cart-link" id="cart-link" href="/cart">Cart: <%= @cart.total_count %></a></li>
          <li> Logged in as <%="#{current_user.name}"%> </li>
        </ul>
      </nav>
   <% end %>
   <% flash.each do |type, message| %>
   <%= content_tag :div, message, class: type %>
   <% end %>
<%= yield %>

  </body>
</html>
